<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<!-- <h3>Column 1</h3> -->

		<div class="row">
			<div style="text-align: center;" class="col-3 col-s-3">
				<img src="images/avatar.jpg" />
				<p1>About me</p1>
			</div>
			<div class="col-8 col-s-8">
				<p>
					Hello! I'm Harshal, an aspiring robotics engineer with 2+ years of experience through various projects.
					I’m am an undergrad from BITS Pilani with major in EEE and a minor in Physics.
					Presently, for my undergraduate thesis I’m working on, combined approach for exploration
					and search of tough environments like mines and caves.
					<br><br>
					I’m currently interested in Robotics, particularly motion planning and perception. I was an active
					member
					of the Electronics and Robotics club on our campus during my undergraduate years, and I was also
					part
					of the autonomous mars rover team where I was responsible for developing the control and interfacing
					sub-system
					of the rover.
					<br><br>
					During breaks, I love to trek and to take pictures. I occasionally upload pictures on my Instagram.
					I like to read about astronomy & astrophysics and I am also into PC gaming.
				</p>
			</div>
		</div>

	</div>

	{{ partial "footer.html" . }}
</body>

</html>