<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div class="row">
			<div style="text-align: center;" class="col-3 col-s-3 img_center">
				<img style="border-radius: 50%;" src="images/avatar.jpg" />
				<h1 style="font-weight: 300;">About me</h1>
			</div>
			<div class="col-8 col-s-8">
				<p>
					Hello! I'm Robotics Engineer at <a href="https://www.linkedin.com/company/getpeppermint/">Peppermint Robots</a>, 
					working on autonomous service robots.
					<br><br>
					I early graduated from BITS Pilani, where I studied Electronics and Physics and also explored robotics and embedded systems. 
					<br><br>
					I’m currently interested in Robotics (particularly motion planning and perception). Apart from Robotics I'm also interested in climate tech and mostly spend time thinking about methods that 
					can be used to reduce global carbon emission, and recently I've also dabbled into blockchain 
					and crypto.   
				</p>
			</div>
		</div>

	</div>

	{{ partial "footer.html" . }}
</body>

</html>